// Background Colors
$dark-blue: #212c4f;
$light-gray: #f0f3f5;

// Text Colors
$dark-green: #205284;
$dark-gray: #5b6175;
$light-blue: #c6d0eb;
$black: #000000;
$white: #ffffff;

// Button Colors
$purple: #7b42f6;
$violet: #b01eff;
$pink: #e1467c;
$blue: #3672f8;
$middle-blue: #546bfb;
$teal: #56ccf2;
$green: #a6e1d5;
$turquoise: #14f1d9;
